@font-face {
    font-family: 'Work Sans'; 
    src: url('fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}
  
  @font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather-Regular.ttf') format('truetype');
    src: url('./fonts/Merriweather-Italic.ttf') format('truetype'); 
    src: url('./fonts/Merriweather-LightItalic.ttf') format('truetype'); 
}  

  
@media only screen and (max-width: 680px) {
    html {
      font-size: 14px;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
    margin: 0 ;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    overflow-x: hidden;
}

header, footer {
    height: 72px;
    background-color: #f9faf8;
    color: #1F2937; 
    padding: 0 48px;
    margin: 0;
}

/* HEADER */

header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100vw;
    box-sizing: border-box;
}

.header-logo {
    color:#00575e;
    font-size: 24px;
    flex-grow: 1;
    font-size: 1em;
    font-weight: 900;
}

.header-links {
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 0.77em;
}

a {
    text-decoration: none;
    color: #1F2937;
}


/* MAIN BANNER , FIRST WRAPPER */

.container-1 {
    position: relative;
    top: 72px;
    background-color: #00846F;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100vw;
    box-sizing: border-box;
    padding-bottom: 32px;
}

@media only screen and (max-width: 680px) {
    .container-1 {
      flex-wrap: wrap;
    }
}

.banner-img {
    display: flex;
    background: url("./images/champy-sq-dark.jpg") center center no-repeat;
    background-size: cover;
    flex-grow: 0;
    height: 30em;
} 

.sub-cont-header {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    background-color: #00846F;
}

.information-header {
    font-size: 48px;
    /* text-transform: uppercase; */
    font-weight: 800;
    letter-spacing: 2px;
    font-family: 'Work Sans', sans-serif;
    /* font-style: italic; */
    color: #ffb048;
}

h1 {
    margin: 0;
    text-align: center;
}

.sub-cont-header > p {
    font-size: 18px;
    color: #f9faf8;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-weight: 400;
    padding: 16px 0px;
    margin: 0;
}

.sign-up {
    background-color: #F9FAF8;
    text-align: center;
    padding: 8px 16px;
    font-weight: 700;
    color: #00575e;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
    font-size: 1.125em;
    font-family: 'Montserrat', sans-serif;
}

/* SECOND WRAPPER */

.container-2 {
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    top: 72px;
    background-color: #C2D3CD;    
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
}

.container-2 > h2 {
    color: #070452;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    padding-top: 32px;
    font-family: 'Work Sans', sans-serif;
    /* text-transform: uppercase; */
}

.sub-cont-2 {
    color: #00575e;
    display: flex;
    margin: 0;
    padding: 48px;    
    gap: 32px;
    justify-content: center;
    flex-grow: 0;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    font-size: 14px;
    width: 200px;
    height: auto;
}

.text {
    padding-top: 16px;
    font-family: 'Montserrat', sans-serif;
}

.sub-cont-2 img {
    height: 200px;
    width: 200px;
    /* border: 2px solid #3882f6; */
    border-radius: 16px;
}

/* THIRD WRAPPER  */

.container-3 {
    position: relative;
    top: 72px;
    width: 100vw;
    box-sizing: border-box;
    background-color: #E5E7EB;    
    display: flex;
    justify-content: center; 
    flex-direction: column;
    padding: 48px 25%;
}

.quote, .author {
    margin: 0px;
    font-family: 'Merriweather', serif;
    font-style: italic;
    color: #707070;
}

h2.quote {
    font-size: 22spx;
    font-style: italic;
    font-weight: 100;
    color: #070452
}

.container-3 > h2 {
    text-align: justify;
    padding-bottom: 16px;
}

.author {
    text-align: right;
    font-weight: 700;
    font-style: normal; 
    color: #3a4553;
    font-family: 'Work Sans', sans-serif;
}

/* FOURTH WRAPPER */

.modal {
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    top: 72px;
    background-color: #F9FAF8;    
    display: flex;
    justify-content: center; 
    padding: 48px 25%;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 680px) {
    .modal, .modal-wrapper {
      flex-direction: column;
    }
}

.modal-wrapper {
    display: flex;
    width: 50vw;
    background-color: #FFB048;
    color: #1F2937;
    padding: 32px 15%;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.modal-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2em;
}

.modal-desc {
    font-size: 14px;
    font-weight: 400;
    padding-top: 8px;
}

.button {
    width: 90px;
    flex-shrink: 0;
    border: 2px solid #1F2937;
    border-radius: 4px;
    background-color: #FFB048;
    color: #1F2937;
    padding: 4px 8px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    top: 72px;
    font-size: 14px;
    color: #00575e;
    
}

